@import "styles/debug";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgba(grey, 0.05);
  border-bottom: 1px solid rgba(grey, 0.3);
  padding: 0 30px;
}

.brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  font-weight: 700;

  img {
    mix-blend-mode: multiply;
  }
}
