@import "styles/debug";

.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 60%;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid rgba(grey, 0.3);
  padding: 30px 50px;

  &__title {
    height: 50px;
    background: none;
    border: none;
    //border-bottom: 1px solid rgba(grey, 0.2);
    font-size: 30px;
    color: grey;
    margin-bottom: 10px;

    &::placeholder {
      color: rgba(grey, 0.2);
    }

    &:focus {
      outline: 0;
      border-bottom-color: rgba(green, 0.4);
    }
  }

  &__date {
    display: flex;
    width: 100%;
    font-size: 10px;
    //font-style: italic;
    color: rgba(grey, 0.5);
    margin-left: 3px;
    margin-bottom: 20px;
  }

  .quill,
  &__content {
    //overflow-y: auto;
    height: calc(100% - 70px);
    background: none;
    border: none;
    //border: 1px solid rgba(grey, 0.1);
    border-radius: 5px;
    color: grey;
    //font-weight: 500;
    //font-family: Arial, sans-serif;
    //padding: 10px 2px;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: rgba(grey, 0.2);
    }

    .ql-editor {
      padding: 0 !important;

      .ql-blank {
        padding: 0 !important;

        &::before {
          color: rgba(grey, 0.2) !important;
        }
      }
    }
  }
}
