@import "reset";
@import "debug";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.quill {
  border: none;

  //.ql-toolbar {
  //  border: 1px solid rgba(grey, 0.2) !important;
  //}
  //
  //.ql-container {
  //  border: 1px solid rgba(grey, 0.2) !important;
  //  border-top: none !important;
  //}

  .ql-editor {
    padding: 0 0 0 3px;

    &.ql-blank {
      &::before {
        color: rgba(grey, 0.3) !important;
        right: 0;
        left: 0;
      }
    }

    a {
      color: cadetblue;
      cursor: pointer;
    }
  }
}
